// Navigation Styles here
.navigation {

    .animation(pulse, 5s);

    padding: 20px 0;
    border-bottom: 2px dashed @navigation-border;
    div {
        max-width: 800px;
        .display-flex(space-between, center);
        margin: 0 auto;

        @media @mobile {
            flex-direction: column;
            nav {
                width: 80%;
                padding-top: 15px;
            }
        }
    }
    nav {
        width: 60%;
        .display-flex(space-between, center);

        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    }
}